*, *::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'Arima Madurai', cursive;
    width: 100%;
    height: 100%;
}
.gridContainer{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 100px 100px 100px;
    grid-gap: 20px;
}
.griditems{
    background: pink;
    height: 100%;
    border: 2px solid red;
}
.grid{
    display: grid;
    grid-gap: 20px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}
.grid2{
    background: turquoise;
}
.grid4{
    background: turquoise;
}
.grid6{
    background: turquoise;
}
.header{
    height: 50vh;
    background:url(auto.jpg);
}
.navbar{
    display: flex;
    justify-content: space-around;
}
.headingstyle{
    /*display: flex;
    justify-content: center;
    position: absolute;
    top: 20%;
    left: 35%;
    transform: translate(-50, -50); */
    text-align: center;
    padding: 5px;
    margin: 50px 0 0 0;
}
h1{
    font-size: 50px;
}
#btn {
    width: 80px;
    height: 40px;
    border: 2px solid pink;
}
.button{
    display: flex;
    position: absolute;
    top: 40%;
    left: 45%;
    transform: translate(-50, -50);
    text-align: center;
}