*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Quicksand", sans-serif;
  
}
.header {
  height: 100vh;
  background: url(bilder/pinkturq.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #cfeee9;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
#navbar {
  background: #cfeee9;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
.logo {
  border-radius: 50%;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
}
h2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-shadow: 1px 0 0.2px grey;
}
#produkter {
background-color: pink;
box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);

}
.produkter {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}
.probild {
    width: 20rem;
    height: 13rem;
    opacity: 0.9;
    margin-bottom: 4rem;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
}
.probild:hover {
  opacity: 1;
}
.persinfo {
  display: flex;
  flex-direction: row;
  
}
.card-title,
.card-text {
  color: white;
  text-shadow: 1px 1px 2px gray;
}
.grid {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
  #kontakt {
  height: 60vh;
  background: url(bilder/blank-space.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #cfeee9;

}
form {
  display: flex;
  flex-direction: column;
  padding: 15px;
  
}
input[type="text"] {
  width: 15rem;
  padding: 12px 20px;
  margin: 8px 0;
 
}
input[type="email"] {
  width: 15rem;
  padding: 12px 20px;
  margin: 8px 0;
}
input[type="button"] {
  width: 5rem;
}
#med {
  width: 20rem;
  padding: 12px;
  margin: 8px 0;
}
.footer {
  width: 100%;
  background-color: #cfeee9;
  
}
.omoss {
  display: grid;
  grid-template-rows: auto auto auto;
  margin: 0 15px 0 15px;
}
.text {
  padding: 20px;
  text-align: center;
}
.meny {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 20px;
  margin: 50px 0 50px 0;
  text-shadow: 0px 1px 0.8px grey;
}
a {
  color: black;
}
.socialmedia {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.copyright {
  text-align: center;
  background: lightgray;
  padding: 15px;
}
.socialmedia li {
  padding: 10px;
}
.adress {
  text-align: center;
}
@media screen and (max-width: 1030px){
  .produkter {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .persinfo {
      display: flex;
      flex-direction: column;
      align-items: space-evenly;
  
    }
    .probild {
      width: 20rem;
      height: 13rem;
      margin: 1rem;
  }