*, *::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    
    
}
html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Quicksand', sans-serif;
}
.mellanrum{
    height: 20px;
}
.header{
    height: 100vh;
    background: url(bilder/pinkturq.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: pink;
}
@media only screen and (max-width: 767px){
    /*background: fixa bilden
    ta bort headingstyle, endast logo*/

}
#navbar {
    background: #cfeee9;
    box-shadow: 0 4px 15px 0px rgba(0,0,0,0.3); 
   
}
.logo {
    border-radius: 50%;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3), 0 6px 15px 0 rgba(0,0,0,0.19);
}
.headingh2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0 0;
    padding: 20px 0 7px 0;
    text-decoration-line: underline;
    text-shadow: 1px 0 0.2px grey;
    
}
.produkter {
    display: flex;
    flex-direction: row;
}
.probild {
    border: 15px solid white;
    justify-content: space-around;
    opacity: 0.9;
}
.probild:hover {
    opacity: 1.0;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
    padding: 15px;
}
.persinfo {
    display: flex;
    flex-direction: row;
    margin: 20px 15px 20px 15px;
    color: white;
}
.card-title, .card-text {
    color: white;
    text-shadow: 1px 1px 2px black;
}
.grid {
    display: grid;
    grid-template-columns: 60% 40%;
    margin: 20px 15px 0 15px;
}
.kontext {
    padding: 20px;
    text-align: justify;
}
form {
    display: flex;
    flex-direction: column;
    padding: 15px;

}
input[type="text"] {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
}
input[type="email"] {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
}    
input[type="button"] {
    width: 200px;
}
#med {
    max-width: 400px;
}

.footer {
    width: 100%;
    background: lightgray;
}
.h3 {
    padding: 15px 0 0 35px;
   }
.omoss {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    margin: 0 15px 0 15px;
}

.text{
    padding: 20px;
    text-align: justify;
    
}
.bild {
    width: 100%;
    max-width: 440px;
    max-height: 220px;
    padding: 15px;
}
.meny {
    font-size: 15px;
    text-align: center;
    
}
a {
    text-decoration: none;
    color: black;
    
}
.socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.copyright {
    text-align: center;
    background: lightgray;
    padding: 15px;
}

